
    <!-- Footer
    ================================================== -->
    <footer class="footer text-center">
        <div class="container">
          <div class="row">
  
            <div class="logo">
              <img src="/assets/img/logo-2.png" alt="logo" class="logo-1">
            </div>
  
            <div class="scoial-icon text-center">
              <a href="#0"><span><i class="fab fa-facebook-f"></i></span></a>
              <a href="#0"><span><i class="fab fa-twitter"></i></span></a>
              <a href="#0"><span><i class="fab fa-linkedin-in"></i></span></a>
              <a href="#0"><span><i class="fab fa-google-plus-g"></i></span></a>
            </div>
  
            <div class="cop">
              <h6>© 2018 Powered By Design Grid</h6>
            </div>
  
          </div>
        </div>
      </footer>
      <!-- End Footer
      ================================================== -->
  
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/assets/js/jquery-3.1.1.min.js"></script>
      <script src="/assets/js/Migrate.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
  
      <!-- owl carousel js -->
      <script src="/assets/js/owl.carousel.min.js"></script>
  
      <!-- scrollIt js -->
      <script src="/assets/js/scrollIt.min.js"></script>
  
      <!-- typed -->
      <script src="/assets/js/typed.js"></script>
  
      <!-- magnific-popup -->
          <script src="/assets/js/jquery.fancybox.min.js"></script>
  
          <!-- isotope.pkgd.min js -->
          <script src="/assets/js/isotope.pkgd.min.js"></script>
  
      <!-- particles js -->
      <script src="/assets/js/particles.js"></script>
  
      <!-- App js -->
      <script src="/assets/js/app.js"></script>
  
      <!-- validator js -->
      <script src="/assets/js/validator.js"></script>
  
      <!-- custom JavaScript -->
      <script src="/assets/js/custom.js"></script>